.pildorasLenguajes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 10px;
  font-size: 0.8rem;
}

.pildorasLenguajes>img {
  width: 35px;
  background-color: white;
  padding: 7px;
  border-radius: 50%;
}

.pildorasLenguajes>img:hover {
  box-shadow: 0px 3px 10px 0px rgb(70, 70, 70);
}



.botonvisitarProyecto {
  border-radius: 5px;
  border: none;
  outline: none;
}

.botonvisitarProyecto a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-style: none;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.botonvisitarProyecto a:hover {
  color: white;
}

.botonvisitarProyecto a img {
  width: 25px;
}