* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
}

#wrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 55px;
}

#headerContainer {
  position: fixed;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgb(155, 155, 155);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1;
}

#navContainer ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
  padding-right: 30px;
}

#navContainer ul li a {
  color: #282c34;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  font-size: 1.1rem;
}

#navContainer ul li a:hover {
  color: #0080ff;
}

#logotipo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-left: 30px;
  user-select: none;
}

#logotipo span {
  color: #0080ff;
  font-size: 1.6rem;
  font-weight: 500;
}

#seccionInicio {
  background-image: url("../media/wave.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  box-shadow: 0px 0px 10px lightgray;
  margin-top: 150px;
}

#contenedorArribaInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 2000px;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

#nombre {
  font-size: 2.5rem;
  color: #0080ff;
  font-weight: 100;
  font-family: sans-serif;
  user-select: none;
}

#contenedorAbajoInfo {
  display: flex;
  width: 100%;
  max-width: 2000px;
  justify-content: space-around;
  align-items: center;
}

#articlePersonal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: linear-gradient(133deg,
      rgba(107, 106, 106, 0.1),
      rgba(145, 145, 145, 0.3));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 30px 70px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

}

#fotoPersonal {
  width: 100%;
  max-width: 400px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px gray;
}

.logoContacto {
  width: 50px;
  opacity: 0.7;
  border-radius: 50%;
  padding: 3px;
}

.logoContacto:hover {
  opacity: 1;
  box-shadow: 0px 0px 5px gray;
  cursor: pointer;
}

.Curriculum {
  margin-top: 40px;
  padding: 10px 30px;
  text-decoration: none;
  background-color: #0080ff;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
}

#descripcionPersonal {
  background-color: #282c34;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  font-size: 1.1rem;
  line-height: 1.5;
  font-stretch: expanded;
}

#descripcionPersonal article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

#descripcionPersonal article p {
  font-stretch: expanded;
}

#seccionConocimientos {
  margin-top: 75px;
  background-color: #f7f7f7;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


#seccionConocimientos article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#seccionConocimientos article div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(216, 216, 216);
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 150px;
}

#seccionConocimientos article div img {
  width: 75px;
}

#seccionConocimientos article div p {
  width: 75px;
  display: none;
}

#seccionConocimientos article div p {
  width: 75px;
  display: flex;
  text-align: center;
  justify-content: center;
  animation: sombreCajitaLenguaje 1s both;
}

@keyframes sombreCajitaLenguaje {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(139, 139, 139);

  }

  100% {
    box-shadow: 0px 0px 20px 0px rgba(139, 139, 139);

  }
}

#seccionConocimientos article div p {
  display: none;

}

#seccionConocimientos article div:hover p {
  display: flex;
  animation: plenguajes 1s;
  animation-iteration-count: 1;
  border-bottom: 1px solid rgb(0, 153, 255);


}

@keyframes plenguajes {
  from {
    transform: translate(0, -15px);
    opacity: 0%;
    display: block;
  }

  to {
    transform: translate(0, 0px);
    opacity: 100%;
    display: block;
  }
}

#seccionConocimientos article div img {
  width: 100%;
  max-width: 80px;
}

#seccionConocimientos article div:hover img {
  animation: lenguajeAnimado 1s;
  animation-fill-mode: both;
}

@keyframes lenguajeAnimado {
  from {
    transform: translate(0, +10px);
  }

  to {
    transform: translate(0, -15px);
  }
}